@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    margin: 0;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }
}
@media (min-width: 979px) {
  .jumbotron {
    margin-top: 75px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    margin: 0;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    width: 100%;
    padding: 0;
  }
  header .navbar-inner .container nav {
    margin-top: -20px;
  }
  header .navbar-inner .container nav ul li {
    width: 25px;
  }
  header .navbar-inner .container .pull-right {
    float: none;
  }
  .jumbotron {
    margin-top: 75px;
    zoom: 85%;
  }
  .jumbotron .services {
    width: 320px;
  }
  .jumbotron .services li {
    width: 100%;
  }
  #hmpg .content {
    width: 90%;
  }
  #social-bar {
    display: none;
  }
}
